{% extends "base.html" %}

{% block content %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>服务器订单管理系统</h1>
        <p class="lead mt-3">欢迎使用服务器订单管理系统</p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">SKU管理</h5>
                <p class="card-text">管理框架协议价格数据</p>
                <a href="{{ url_for('sku.list_skus') }}" class="btn btn-primary">进入</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
